/*HELPER CLASSES*/
body{
	font-family:Verdana, Geneva, sans-serif;
	background-color:#CCC;
}
.m-l-10{
	margin-left: 10px !important;
}
.m-l-30{
	margin-left: 30px !important;
}
.m-t-10{
	margin-top: 10px !important;
}
.m-t-20{
	margin-top: 20px !important;
}
.m-r-10{
	margin-right: 10px !important;
}
.m-r-30{
	margin-right: 30px !important;
}
.m-b-20{
	margin-bottom: 20px !important;
}
.text-center{
	text-align: center !important;
}
.bg-blue-gray-100{
	background-color: #CFD8DC;
}
.color-red{
	color: #f44336 !important;
}
.white-overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 999;
}
.a-link{
	margin: 10% 0 10px 0;
	text-decoration: underline;
}
.error{
  font-size: .8em;
  text-align: center;
  margin-top: 0;
}
.swiper-container {
  height: 100%;
}
.swiper-slide {
  background:#fff;
}
.swiper-slide span {
  text-align:center;
  display:block;
  margin:20px;
  font-size:21px;
}
/*CUSTOM CLASSES*/
.map_div{
	/*background: no-repeat center center fixed; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  	background-size: cover;
}
.overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .4;
	z-index: 2;
	display: none;
	transition: .8s ease-in-out;
	-webkit-transition: .8s ease-in-out;
}
#map {
	z-index: 1;
	position: absolute;
	height: 100%;
	width: 100%;
}
.page-content.legende-open .overlay{
	display: block;
}
.page-content.legende-open .legende{
	bottom: 0;
	overflow-y: scroll;
}
.legende{
	position: fixed;
	bottom: -350px;
	height: 400px;
	width: 100%;
	transition: .4s ease-in-out;
	-webkit-transition: .4s ease-in-out;
	z-index: 3;
}
.legende h1{
	margin: 0;
}
.legende .head{
	height: 50px;
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	line-height: 50px;
	color: #9E9E9E;
}
.legende .head .left, .legende .head .right{
	position: absolute;
	line-height: 50px;
	height: 100%;
}
.legende .head .left{
	width: 50%;
	left: 0;
	text-align: left;
	padding-left: 4%;
}
.legende .head .right{
	width: 20%;
	max-width: 50px;
	right: 0;
	text-align: center;
	color: #424242;
	font-size: 2em;
}
.legende .head .left p{
	margin: 0;
}
.legende .content-block, .legende .media-list{
	margin: 0;
}
.legend-content p{
	font-size: 1em;
	margin: 0;
}
.legend-content .legende-item{
	height: 30px;
	line-height: 30px;
	margin: 1.2% 0;
}
.legend-content .legende-item .links{
	width: 20%;
	float: left;
	text-align: center;
	font-size: 2em;
}
.legend-content .legende-item .rechts{
	width: 80%;
	float: left;
	height: 100%;
}
.map-icon{
	position: fixed;
	text-align: center;
	line-height: 56px;
	width: 56px;
	height: 56px;
	border-radius: 56px;
	font-size: 2.6em;
	z-index: 3;
	background-color: rgba(255,255,255,1);
}
.map-icon.settings, .map-icon.symptoms{
	left: 10px;
	font-size: 2em;
	background-color: rgba(255,255,255,.8);
} 
.map-icon.settings{
	bottom: 12%;
}
.map-icon.symptoms{
	bottom: 25%;
}
.specialist-detail{
	width: 100%;
	height: 200px;
	overflow: hidden;
	background-color: black;
}
.specialist-detail img{
	height: 100%;
	width: 100%;
}
.detail-icon{
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 30px;
}
.detail-icon i{
	font-size: 1.8em;
	vertical-align: middle;
	padding: 0 2%;
	border-radius: 50%;
	margin: 0 20px 0 10px;
}
.detail-info-icon i{
	font-size: 1.8em;
	vertical-align: middle;
	margin: 0 20px;
}
.content-block .detail-info-icon:nth-child(4) i{
	margin: 0 25px;
}
.info_legende{
	position: relative;
	float: right;
}
.icoon{
	margin-top: 50px;
}
.icoon_legende{
	-webkit-border-radius:1100%;
	-moz-border-radius:100%;
	-o-border-radius:100%;
	border-radius:100%;/*
	background-color: #fff;*/
	vertical-align:top;
	width: 30px;
    height: 30px;
}
.settings_icoon{
	position: absolute;
	top: 10px;
	left: 30px;
}
.settings_icoon_bg{
	-webkit-border-radius:1100%;
	-moz-border-radius:100%;
	-o-border-radius:100%;
	border-radius:100%;
	background-color: #fff;
	opacity: 0.2;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
}

/*detail pagina style*/
.detail_info{
	position: absolute;
	bottom: 20px;
}

.non_bg{
	background-color: none !important;
}
.knop{
	position: absolute;
	bottom: 10px;
	width: 100%;
	margin: 10px;
}

/*afspraken maken style*/
.img_opacity{
	opacity: 0.4;
	background-color: black;
}
.accordion-list.sickness .content-block li{
	list-style-type: square !important;
	margin-left: 20px;
}
/*@media queries*/
@media screen and (orientation: landscape) {
   .map-icon.settings{
		bottom: 18%;
	}
	.map-icon.symptoms{
		bottom: 37%;
	}
	.legende{
		bottom: -250px;
		height: 300px;
	}
}



* {
  margin: 0px;
  padding: 0px;
}

.container {
  margin: 0 auto;
  height: auto;
  width: 90%;
  box-shadow: 0 10px 20px 5px rgba(255, 255, 255, .2);
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

.curr-month {
  width: 100%;
  height: auto;
  border: 1px solid #f1c40f;
  border-top: 15px solid #f1c40f;
  background-color: #f39c12;
  color: #fff;
  font-size: 40px;
  text-align: center;
  line-height: 80px;
  font-size: 25px;
}

.curr-month sup {
  font-size: 15px;
}

.all-days {
  width: 100%;
  height: 40px;
  background-color: #fff;
  float: left;
  display: none;
}

ul {
  list-style: none;
  display: block;
  height: 30px;
  width: 100%;
  margin: 0 auto;
  float: left;
}

ul li {
  float: left;
  width: 100%;
  text-align: left;
  line-height: 41px;
}

.all-date {
  width: 100%;
  height: auto;
  float: left;
}

.all-date li {
  height: 60px;
  width: 100%;
  line-height: 60px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  background-color: #ccc;
  opacity: 1;
  text-indent: 20px;
}

.all-date li.inactive {
  opacity: .8;
  display: none;
}

.all-date li.monthdate:hover {
  background-color: #f39c12;
  color: #fff;
}

.all-date li sup {
  display: inline;
}

a {
  text-decoration: none;
  color: #fff
}

@media only screen and (min-width:421px) {
  .container {
    height: 487px;
    width: 421px;
  }
  .curr-month {
    border-left: 0px;
    border-right: 0px;
    font-size: 40px;
  }
  .curr-month sup {
    font-size: 20px;
  }
  .all-days {
    display: block;
  }
  ul li {
    width: 60px;
    text-align: center;
  }
  .all-date {
    height: 305px;
  }
  .all-date li {
    width: 59px;
    border-right: none;
    text-indent: 0px;
  }
  .all-date li.b-bottom {
    border-bottom: 1px solid #fff;
  }
  .all-date li.b-right {
    border-right: 1px solid #fff;
  }
  .all-date li.bnone {
    border-right: none;
  }
  .all-date li.inactive {
    display: block;
  }
  .all-date li sup {
    display: none;
  }
}
.naam_specialist{
	position: absolute;
	top: 180px;
}
.date_zetten{
	width: 100%;
	height: 30px;
	font-size: 15px;
    text-align: center;
}