/*HELPER CLASSES*/
body{
	font-family:Verdana, Geneva, sans-serif;
	background-color:#CCC;
}
.m-l-10{
	margin-left: 10px !important;
}
.m-l-30{
	margin-left: 30px !important;
}
.m-t-10{
	margin-top: 10px !important;
}
.m-t-20{
	margin-top: 20px !important;
}
.m-r-10{
	margin-right: 10px !important;
}
.m-r-30{
	margin-right: 30px !important;
}
.m-b-20{
	margin-bottom: 20px !important;
}
.bg-blue-gray-100{
	background-color: #CFD8DC;
}

/*CUSTOM CLASSES*/
.map_div{
	background: url("../img/map.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  	background-size: cover;
}
.overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .4;
	z-index: 2;
	display: none;
	transition: .8s ease-in-out;
	-webkit-transition: .8s ease-in-out;
}
.page-content.legende-open .overlay{
	display: block;
}
.legende{
	position: fixed;
	height: 400px;
	bottom: -350px;
	width: 100%;
	transition: .4s ease-in-out;
	-webkit-transition: .4s ease-in-out;
	z-index: 3;
}
.page-content.legende-open .legende{
	bottom: 0px;
}
.legende .floating-button{
	position: absolute;
    top: -28px;
    box-shadow: none;
}
.legende .floating-button i{
	font-size: 1.4em;
	transition: .4s ease-in-out;
	-webkit-transition: .4s ease-in-out;
}
.page-content.legende-open .legende .floating-button i{
	-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.legende .content-block{
	margin-top: 0;
}
.legende h1{
	font-size: 1em;
	margin: 14px 0;
}
.legend-content{
	padding-top: 5px;
}
.legend-content i{
	font-size: 2em;
	vertical-align: middle;
	padding: 0 20px 0 10px;
}
.map-icon{
	position: fixed;
	text-align: center;
	line-height: 56px;
	width: 56px;
	height: 56px;
	border-radius: 56px;
	font-size: 2.6em;
	background-color: rgba(255,255,255,1);
}
.map-icon.settings{
	top: 10px;
	left: 10px;
	font-size: 2em;
	background-color: rgba(255,255,255,.8);
}
.map-icon.eye-specialist{
	top: 35%;
	left: 40%;
}
.specialist-detail{
	width: 100%;
	height: 200px;
	overflow: hidden;
}
.specialist-detail img{
	height: auto;
	width: 100%;
}
.detail-icon{
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 30px;
}
.detail-icon i{
	font-size: 1.8em;
	vertical-align: middle;
	padding: 0 2%;
	border-radius: 50%;
	margin: 0 20px 0 10px;
}
.detail-info-icon i{
	font-size: 1.8em;
	vertical-align: middle;
	margin: 0 20px;
}
.content-block .detail-info-icon:nth-child(4) i{
	margin: 0 25px;
}
.info_legende{
	position: relative;
	float: right;
}
.icoon{
	margin-top: 50px;
}
.icoon_legende{
	-webkit-border-radius:1100%;
	-moz-border-radius:100%;
	-o-border-radius:100%;
	border-radius:100%;/*
	background-color: #fff;*/
	vertical-align:top;
	width: 30px;
    height: 30px;
}
.settings_icoon{
	position: absolute;
	top: 10px;
	left: 30px;
}
.settings_icoon_bg{
	-webkit-border-radius:1100%;
	-moz-border-radius:100%;
	-o-border-radius:100%;
	border-radius:100%;
	background-color: #fff;
	opacity: 0.2;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
}
/*dommy knop gemaakt*/
.dommy_icoon{
	position: relative;
	top: 100px;
	left: 100px;
	-webkit-border-radius:1100%;
	-moz-border-radius:100%;
	-o-border-radius:100%;
	border-radius:100%;
	background-color: #fff;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
	height: 60px;
	width: auto;
}

/*detail pagina style*/
.detail_info{
	position: absolute;
	bottom: 20px;
}

.non_bg{
	background-color: none !important;
}
.knop{
	position: absolute;
	bottom: 10px;
	width: 100%;
	margin: 10px;
}