# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# lte
*.DS_Store
*.log
*.zip
.idea
.sass-cache/
/nbproject/
/nbproject/private/
/node_modules/
ad.js
TODO
test.html
sftp-config.json

backend/**
!backend/cms
