<div class="pages">
  <div data-page="aamelden" class="page navbar-fixed theme-teal">

    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a href="views/login.html" class="link">
            <i class="icon ion-chevron-left"></i>
           </a>
        </div>
        <div class="center">Aanmelden</div>
        <div class="right">
          <a href="#" class=" link">
            <img src="dir/img/information-variant.png">
          </a>
        </div>
      </div>
    </div>
    <div class="page-content">

      <div class="list-block">
        <ul>
          <!-- Text inputs -->
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-input">
                  <input type="text" placeholder="Voornaam">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-input">
                  <input type="text" placeholder="Achternaam">
                </div>
              </div>
            </div>
          </li>
          <li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-input">
                  <select>
                    <option>Man</option>
                    <option>Vrouw</option>
                  </select>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-input">
                  <input type="number" placeholder="Mobiel">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-input">
                  <input type="password" placeholder="Wachtwoord">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-input">
                  <input type="password" placeholder="Bevestig wachtwoord">
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="content-block">
        <p><a href="#" class="button active bg-teal color-white">Aanmelden</a></p>
      </div>
      <div class="content-block">
        <p class="text-center">Door aan te melden gaat u akkoord met de volgende <a class="color-red a-link" href="#">voorwaarden</a></p>
      </div>
    </div>

  </div>
</div>  