<div class="pages">
  <div data-page="about" class="page navbar-fixed theme-teal">

    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class=" link">
        	<img src="dir/img/information-variant.png">
           </a>
        </div>
        <div class="center">Afspraak</div>
        <div class="right">
        	<a href="#" class=" link">
        		<img src="dir/img/window-close.png">
           </a>
        </div>
      </div>
    </div>

    <div class="page-content">
      <div class="specialist-detail">
        <img src="dir/img/doctor.jpg" class="img_opacity">
      </div>
      <div class="content-block">
      	<span class="naam color-white">Dr. Andwele R.</span>
      </div>

      <div class="content-block">
        <div class="content-block-title">Disabled Dates</div>
<div class="content-block-title">Inline with custom toolbar</div>
<div class="content-block">
  <div style="padding:0; margin-right:-15px; width:auto" class="content-block-inner">
    <div id="calendar-inline-container"></div>
  </div>
</div>     
      </div>
      <div class="content-block">
        <p><a href="#" class="button active bg-teal color-white">Afspraak maken</a></p>
      </div>
    </div>

  </div>
</div>  