<div class="pages">
  <div data-page="about" class="page navbar-fixed theme-teal">

    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a href="views/instellingen.html" class="link">
            <i class="icon ion-chevron-left"></i>
           </a>
        </div>
        <div class="center">FAQ</div>
        <div class="right"></div>
      </div>
    </div>
    <form class="searchbar">
        <div class="searchbar-input">
            <input type="search" placeholder="Search">
            <a href="#" class="searchbar-clear"></a>
        </div>
        <a href="#" class="searchbar-cancel">Cancel</a>
    </form>
    <div class="searchbar-overlay"></div>
    <div class="page-content">
    <div class="content-block searchbar-not-found">
      <div class="content-block-inner">Nothing found</div>
    </div>
      <div class="list-block accordion-list">
        <ul>
          <li class="accordion-item"><a href="#" class="item-content item-link">
              <div class="item-inner">
                <div class="item-title">Vraag 1</div>
              </div></a>
            <div class="accordion-item-content">
              <div class="content-block">
                <p>Item 1 content. Lorem ipsum dolor sit amet...</p>
              </div>
            </div>
          </li>
          <li class="accordion-item"><a href="#" class="item-content item-link">
              <div class="item-inner">
                <div class="item-title">Vraag 2</div>
              </div></a>
            <div class="accordion-item-content">
              <div class="content-block">
                <p>Item 2 content. Lorem ipsum dolor sit amet...</p>
              </div>
            </div>
          </li>

          <li class="accordion-item"><a href="#" class="item-content item-link">
              <div class="item-inner">
                <div class="item-title">Vraag 3</div>
              </div></a>
            <div class="accordion-item-content">
              <div class="content-block">
                <p>Item 3 content. Lorem ipsum dolor sit amet...</p>
              </div>
            </div>
          </li>

          <li class="accordion-item"><a href="#" class="item-content item-link">
              <div class="item-inner">
                <div class="item-title">Vraag 4</div>
              </div></a>
            <div class="accordion-item-content">
              <div class="content-block">
                <p>Item 4 content. Lorem ipsum dolor sit amet...</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>  