
<div class="pages">
  <div data-page="home" class="page">

    <div class="page-content map_div">
      <div id="map"></div>
      
      <div class="overlay"></div>
              
      <div class="legende bg-white">
        <div class="head">
          <div class="left">
            <p>Menu</p>
          </div>
          <div class="right">
            <i class="ion-navicon"></i>
          </div>
        </div>

        <div class="content-block legend-content">
          <p>Legende</p>
          <div class="legende-item">
            <div class="links"><i class="ion-eye color-blue"></i></div>
            <div class="rechts"><span>Oogspecialist</span></div>
          </div>
          <div class="legende-item">
            <div class="links"><i class="ion-heart color-red"></i></div>
            <div class="rechts"><span>Hart Chirurg</span></div>
          </div>
          <div class="legende-item">
            <div class="links"><i class="ion-pizza color-green"></i></div>
            <div class="rechts"><span>Diëtist</span></div>
          </div>
          <div class="legende-item">
            <div class="links"><i class="ion-sad-outline color-indigo"></i></div>
            <div class="rechts"><span>Psycholoog</span></div>
          </div>
          <div class="legende-item">
            <div class="links"><i class="ion-medkit color-amber"></i></div>
            <div class="rechts"><span>Apotheek</span></div>
          </div>
        </div>

        <div class="list-block media-list">
          <ul>
            <li>
              <a href="views/instellingen.html" class="item-content item-link">
                <div class="item-inner">
                  <div class="item-title-row">
                    <div class="item-title">Instellingen</div>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="views/symptomen.html" class="item-content item-link">
                <div class="item-inner">
                  <div class="item-title-row">
                    <div class="item-title">Ziektesoorten &amp; Pijnen</div>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="views/afsprakenverzoek.html" class="item-content item-link">
                <div class="item-inner">
                  <div class="item-title-row">
                    <div class="item-title">Afspraken verzoek</div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>

      </div>

    </div>

  </div>
</div>