
<div class="pages">
  <div data-page="home" class="page">

    <div class="page-content map_div">

      <a href=""><img src="dir/img/settings.png" class="settings_icoon settings_icoon_bg"></a>
              
      <div class="legende">

        <a href="#" class="floating-button color-teal">
          <i class="icon ion-plus"></i>
        </a>

        <div class="content-block">
          <h1>Legende</h1>

          <p><img src="dir/img/eye.png" class="icoon_legende  m-r-30 m-b-20 bg-white"><span>Oogspecialist</span></p>
          <p><img src="dir/img/heart-pulse.png" class="icoon_legende  m-r-30 m-b-20 bg-white"><span>Hart chirurg</span></p>
          <p><img src="dir/img/diëtist.png" class="icoon_legende  m-r-30 m-b-20 bg-white"><span>Diëtist</span></p>
          <p><img src="dir/img/emoticon-sad.png" class="icoon_legende  m-r-30 m-b-20 bg-white"><span>Psycholoog</span></p>
          <p><img src="dir/img/pill.png" class="icoon_legende  m-r-30 m-b-20 bg-white"><span>Apotheek</span></p>
        </div>
      </div>

    </div>

  </div>
</div>  