
<div class="pages">
  <div data-page="home" class="page">

    <div class="page-content map_div">
      <div class="overlay"></div>
    
      <a href="" class="map-icon settings"><i class="ion-gear-a color-teal"></i></a>

      <a href="views/specialisten.html" class="map-icon eye-specialist"><i class="ion-eye color-blue"></i></a>
              
      <div class="legende bg-white">
        <a href="#" class="floating-button color-teal">
          <i class="icon ion-plus"></i>
        </a>

        <div class="content-block">
          <h1>Legende</h1>
          <div class="legend-content">
            <p><i class="ion-eye color-blue"></i><span>Oogspecialist</span></p>
            <p><i class="ion-heart color-red"></i><span>Hart Chirurg</span></p>
            <p><i class="ion-pizza color-green"></i><span>Diëtist</span></p>
            <p><i class="ion-sad-outline color-indigo"></i><span>Psycholoog</span></p>
            <p><i class="ion-medkit color-amber"></i><span>Apotheek</span></p>
          </div>
          
        </div>
      </div>

    </div>

  </div>
</div>  