<div class="pages">
  <div data-page="login" class="page navbar-fixed theme-teal">

    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a href="views/instellingen.html" class="link">
            <i class="icon ion-chevron-left"></i>
           </a>
        </div>
        <div class="center">Login</div>
        <div class="right"></div>
      </div>
    </div>
    <div class="page-content">

      <div class="list-block">
        <ul>
          <!-- Text inputs -->
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-input">
                  <input type="number" placeholder="Mobiel">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-input">
                  <input type="password" placeholder="Wachtwoord">
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="content-block">
        <p><a href="#" class="button active bg-teal color-white">Log in</a></p>
        <p class="text-center">Geen account? <a href="views/aanmelden.html" class="a-link">Aanmelden</a></p>
      </div>
      
    </div>

  </div>
</div>  