<div class="pages">
  <div data-page="specialisten" class="page navbar-fixed theme-teal">

    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a href="views/home.html" class="link">
            <i class="icon ion-chevron-left"></i>
           </a>
        </div>
        <div class="center" id="full_name"></div>
        <div class="right"></div>
      </div>
    </div>

    <div class="page-content bg-blue-gray-100">
      <div class="specialist-detail">
        <img id="profile_picture" src="">
      </div>

      <div class="content-block">
          <p class="detail-icon"><i class="ion-eye color-blue bg-white"></i><span></span></p>
          <p class="detail-info-icon"><i class="ion-android-call"></i><span id="phone"></span></p>
          <p class="detail-info-icon"><i class="ion-android-mail"></i><span id="email"></span></p>
          <p class="detail-info-icon"><i class="ion-location"></i><span id="address"></span></p>
          <p class="detail-info-icon"><i class="ion-earth"></i><span id="website"></span></p>
      </div>
      <div class="content-block">
        <p><a href="views/afspraak.html" class="button active bg-teal color-white">Afspraak maken</a></p>
      </div>
    </div>

  </div>  
</div>  