
<div class="pages">
  <div data-page="about" class="page navbar-fixed theme-teal">

    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="back link">
            <i class="icon ion-chevron-left"></i>
           </a>
        </div>
        <div class="center">Dr. Andwele R.</div>
        <div class="right"></div>
      </div>
    </div>

    <div class="page-content">
      <div class="specialist-detail">
        <img src="dir/img/doctor.jpg">
      </div>

      <div class="content-block">
        <a>
          <img src="dir/img/eye.png" class="icoon_legende  m-r-30 m-b-20 ">
          <span class="color-black"><b>Oogspecialist</b></span>
        </a>
      </div>
      <div class="content-block">
        <a>
          <img src="dir/img/phone.png" class="icoon_legende  m-r-30 m-b-20 ">
          <span class="color-black">451-123</span>
        </a><br>
        <a>
          <img src="dir/img/email.png" class="icoon_legende  m-r-30 m-b-20">
          <span class="color-black">andwele_r@live.com</span>
        </a><br>
        <a>
          <img src="dir/img/map-marker.png" class="icoon_legende  m-r-30 m-b-20">
          <span class="color-black">Henk Arron straat #41</span>
        </a><br>
        <a>
          <img src="dir/img/web.png" class="icoon_legende  m-r-30 m-b-20">
          <span class="color-black">www.oogbijandwele.sr</span>
        </a><br>
      </div>
    </div>

  </div>
</div>  