
<div class="pages">
  <div data-page="about" class="page navbar-fixed theme-teal">

    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a href="views/home.html" class="link">
            <i class="icon ion-chevron-left"></i>
           </a>
        </div>
        <div class="center">Dr. Andwele R.</div>
        <div class="right"></div>
      </div>
    </div>

    <div class="page-content bg-blue-gray-100">
      <div class="specialist-detail">
        <img src="dir/img/doctor.jpg">
      </div>

      <div class="content-block">
          <p class="detail-icon"><i class="ion-eye color-blue bg-white"></i><span>Oogspecialist</span></p>

          <p class="detail-info-icon"><i class="ion-android-call"></i>451-213</p>
          <p class="detail-info-icon"><i class="ion-android-mail"></i>andwele_r@live.com</p>
          <p class="detail-info-icon"><i class="ion-location"></i>Henck Arron straat #41</p>
          <p class="detail-info-icon"><i class="ion-earth"></i>www.checkjeoogbijandwele.sr</p>
      </div>
    </div>

  </div>
</div>  