<div class="pages">
  <div data-page="symptomen" class="page navbar-fixed theme-teal">

    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a href="views/home.html" class="link">
            <i class="icon ion-chevron-left"></i>
           </a>
        </div>
        <div class="center">Ziektesoorten &amp; pijnen</div>
        <div class="right"></div>
      </div>
    </div>

    <form class="searchbar searchbar-init" data-search-list=".list-block-search" data-search-in=".item-title" data-found=".searchbar-found" data-not-found=".searchbar-not-found">
        <div class="searchbar-input">
            <input type="search" placeholder="Search">
            <a href="#" class="searchbar-clear"></a>
        </div>
        <a href="#" class="searchbar-cancel">Cancel</a>
    </form>

    <div class="searchbar-overlay"></div>

    <div class="page-content">
    <div class="content-block searchbar-not-found">
      <div class="content-block-inner">Nothing found</div>
    </div>

      <div class="list-block list-block-search searchbar-found">
        <div class="list-block media-list">
          <ul id="symptomen">
            <!-- <li>
              <a href="#" class="item-link item-content">
                <div class="item-inner">
                  <div class="item-title-row">
                    <div class="item-title">Ziekte 1</div>
                  </div>
                </div>
              </a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>  