<div class="pages">
    <div data-page="aanmelden" class="page navbar-fixed theme-teal">

        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="views/login.html" class="link">
                        <i class="icon ion-chevron-left"></i>
                    </a>
                </div>
                <div class="center">Aanmelden</div>
                <div class="right">
                    <a href="#" class=" link">
                        <img src="dir/img/information-variant.png">
                    </a>
                </div>
            </div>
        </div>
        <div class="page-content">

            <form id="aanmelden-form" class="list-block">
                <ul>
                    <!-- Text inputs -->
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-input">
                                    <input type="text" name="first_name" class="name" placeholder="Voornaam" required="">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-input">
                                    <input type="text" name="last_name" class="name" placeholder="Achternaam" required="">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <select name="gender" required="">
                    <option value="">Kies uw gender</option>
                    <option value="m">Man</option>
                    <option value="f">Vrouw</option>
                  </select>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="number" name="phone" placeholder="Mobiel" required="">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="password" id="password" name="password" placeholder="Wachtwoord" required="">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <p id="password_error" class="color-red error">wachtwoord te kort</p>

                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="password" id="password_conf" placeholder="Bevestig wachtwoord" required="">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <p id="password_conf_error" class="color-red error">wachtwoorden niet hetzelfde</p>

                        <div class="content-block">
                            <p><input type="submit" value="Aanmelden" class="button bg-teal color-white disabled"></p>
                            <p id="aanmelden_error" class="color-red error">error</p>
                        </div>
                        <div class="content-block">
                            <p class="text-center">Door aan te melden gaat u akkoord met de volgende <a class="color-red a-link" href="#">voorwaarden</a></p>
                        </div>

                </ul>

            </form>



        </div>

    </div>
</div>