<div class="pages">
    <div data-page="instellingen" class="page navbar-fixed theme-teal">

        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="views/home.html" class="link">
                        <i class="icon ion-chevron-left"></i>
                    </a>
                </div>
                <div class="center">Instellingen</div>
                <div class="right"></div>
            </div>
        </div>
        <div class="page-content">

            <!--<div class="content-block">-->
            <div class="list-block media-list m-t-0">
                <!--<ul>-->
                <!--<li>-->
                <a href="views/account.html" class="item-link item-content">
                    <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title">Account</div>
                        </div>
                    </div>
                </a>
                <!--</li>-->
                <!--<li>-->
                <a href="views/faq.html" class="item-link item-content">
                    <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title">FAQ</div>
                        </div>
                    </div>
                </a>
                <!--</li>-->
                <!--<li>-->
                <a href="#" class="item-link item-content">
                    <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title">Over Healthy.do</div>
                        </div>
                    </div>
                </a>
                <!--</li>-->
                <!--</ul>-->
            </div>
            <!--</div>-->
        </div>

    </div>
</div>